<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.Trending6"/>
      <class name="test.Create1"/>
      <class name="test.Weather4"/>
      <class name="test.Usertweets5"/>
      <class name="test.Search2"/>
      <class name="test.Username3"/>
     <!-- <class name="test.Block"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
